body{background-image: url(fb.jpg) ;
    background-size: 900px;
    background-repeat: no-repeat;
}
h2{color: aqua;
    text-align: center;

    font-size: 40;
    font-weight: 200;
    font-style: oblique;
}
.signUpBox{
    font-size: xx-large;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, serif;
    font-style: italic;

}
.signIn{
    font-size: x-large;
    color: aliceblue;
}
a{color: blueviolet; 
background-blend-mode:darken;
background: size 4px;
border:2px;
}
a:hover{cursor: grab;
color: beige;
}
.button{border-radius: 30px;
padding:15px;
width:100px;
font-weight:lighter ;

}
.button:hover{cursor: grab;
background-color: black;
color: #fff23f;}